<template>
    <div>
        <v-row
          class="fill-height"
          align="center"
          justify="center"
          style="margin-left: 25px;margin-right: 25px;"
        >
            <div class="display-2 font-weight-medium">Cardapio</div>
            <v-row
                class="fill-height"
            > 
                <v-col class="col-12"
                    align="center"
                    justify="center">
                    <div class="display-1 font-weight-medium">
                        Mais pedidas
                    </div>
                </v-col>
                <v-col class="col-4">
                    <v-row>
                        <v-col align="center"
                            justify="center">
                            Carne
                        </v-col>
                    </v-row>
                    Carne, cebola, alho, ovo, molho dos hermanos, cominho, pimentão.
                    <v-row>
                        <v-col align="left"
                            justify="center">
                            R$ 8,00
                        </v-col>
                    </v-row>
                </v-col>
                <v-col class="col-4">
                    <v-row>
                        <v-col align="center"
                            justify="center">
                            Queijo com tomate
                        </v-col>
                    </v-row>
                    Queijo mussarela, tomate assado com alecrim e manjericão
                    <v-row>
                        <v-col align="left"
                            justify="center">
                            R$ 8,00
                        </v-col>
                    </v-row>
                </v-col>
                <v-col class="col-4">
                     <v-row>
                        <v-col align="center"
                            justify="center">
                            Queijo com cebola
                        </v-col>
                    </v-row> 
                    Queijo mussarela e cebola refogada no molho Dos Hermanos
                    <v-row>
                        <v-col align="left"
                            justify="center">
                            R$ 8,00
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-row>
        <br/>

        <v-row>
            <v-col align="right"
                justify="center">
                <v-btn class="mx-2" fab large @click.stop="dialog = true">
                    <v-avatar size="65">
                        <v-img :src="img_empanada"></v-img>
                    </v-avatar>
                </v-btn>
            </v-col>
        </v-row>

        <v-dialog v-model="dialog" max-width="300">
            <v-img :src="img_cardapio"></v-img>
        </v-dialog>

        <br/>
        <v-form ref="form" @submit.prevent="submit">
            <v-container fluid>
                <v-row>
                    <v-col 
                        v-for="(item,i) in listHeader" :key="i"
                        sm="6"
                        class="d-flex child-flex"
                        md="4">
                        <v-slider
                            v-model="form[i]"
                            :label="item.label"
                            class="align-center"
                            min="0"
                            max="30"
                            color="cyan"
                            thumb-label="always"
                        >
                            <template v-slot:append>
                                <v-btn class="mx-2" small fab
                                    color="cyan"
                                    @click="increment(i)">
                                    <v-icon dark>mdi-plus</v-icon>
                                </v-btn>
                            
                                <small> {{ item.detail }}</small>
                            </template>
                            
                        </v-slider>
                        
                        <v-divider
                            class="mx-4"
                            vertical
                            >
                        </v-divider>

                    </v-col>
                </v-row>
            </v-container>
            <v-card
                flat
                color="transparent">
                <v-card-text>
                    <v-btn
                        color="success"
                        class="mr-4"
                        @click="submit"
                    >
                        Solicitar
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-form>
    </div>
</template>
<script>
export default {
    data(){
        const defaultForm = Object.freeze({
            carne: 0,
            pollo: 0,
            banana:0,
            camarao:0,
            palmito:0
        })
        return{
            listHeader :[{label:'Carne', detail:'Carne, cebolla, huevo duro, morron, especias, maiz, coso1, coso2'},
                         {label:'Pollo', detail:'Pollo, morron'},
                         {label:'Banana', detail:'Banana, morron'},
                         {label:'Camarao', detail:'Camarao, morron'},
                         {label:'Palmito', detail:'Palmito, morron'},
                        ],
            form: Object.assign({}, defaultForm),
            defaultForm,
            img_empanada:require('@/assets/empanada.jpg'),
            img_cardapio:require('@/assets/cardapio.jpg'),
            dialog: false,
        }
    },
    created : function() {
        //alert(window.history.length);
        //console.log(this.form);
        //console.log(this.listHeader[0].label);
    },
    methods : {
         increment (indice) {
            this.form[indice] = (this.form[indice] + 1) || 30
        },
        resetForm () {
            this.form = Object.assign({}, this.defaultForm)
            this.$refs.form.reset()
        },
        submit () {
            alert(this.form[0] + "-"+ this.form[1]);
            this.snackbar = true
            this.resetForm()
        },
    },
    computed: {
        getLabel (indice){
            return this.listHeader[indice].label;
        }
    },
}
</script>