<template>
     <v-row
          class="fill-height"
          align="center"
          justify="center"
          style="margin-left: 25px;margin-right: 25px;"
        >
        <div class="display-2 font-weight-medium">Contato</div>
        <v-row
            class="fill-height"
        > 
            <v-col class="col-12"
                align="center"
                justify="center">
                <div class="display-1 font-weight-medium">
                    Vamos conversar 👋 Não hesite em falar conosco por meio das informações de contato abaixo ou envie uma mensagem usando o formulário.
                </div>
            </v-col>
            <v-col class="col-6">
                <v-row>
                    <v-col align="center"
                        justify="center">
                        Fale conosco
                    </v-col>
                </v-row>
                Rua Barão da torre, 60
                Rio de Janeiro
                Brasil
                myemail@example.com
                <v-row>
                    <v-col align="left"
                        justify="center">
                       (21) 99669-1222
                    </v-col>
                </v-row>
            </v-col>
            <v-col class="col-6">
                <v-row>
                    <v-col align="center"
                        justify="center">
                        Envie uma mensagem para nós
                    </v-col>
                </v-row>
                Queijo mussarela, tomate assado com alecrim e manjericão
                <v-row>
                    <v-col align="left"
                        justify="center">
                        R$ 8,00
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-row>
</template>