<template>
  <div>
    <v-row
      class="fill-height"
      align="center"
      justify="center"
      style="margin-left: 25px;margin-right: 25px;"
    >
      <v-card
        flat
        class="mx-auto fondo"
        max-width="900"
        style="background-color:yellow"
      >
        <v-spacer></v-spacer>
        <v-card-subtitle align="center" class="pb-5">
          <div class="display-1">O Nosso Projeto Social</div>
        </v-card-subtitle>
        <v-card-text class="text--primary">
        <div>O Projeto Social “Rugby é Nossa Paixão”, é um coletivo onde acreditamos que o esporte pode ser utilizado como ferramenta para a realização de um trabalho de formação e conscientização de crianças e adolescentes.</div>
      </v-card-text>
      </v-card>
    </v-row>
  
    <br/>
    <v-row
      align="center"
      justify="center"
    >
      <v-card flat tile class="d-flex">
        <v-img
          :src="imgRugby"
          class="grey lighten-2"
        >
        </v-img>
      </v-card>
    </v-row>
    
    <v-row
      align="center"
      justify="center">
      <v-col cols="10" sm="12" md="6">
        <v-row>
          <v-col
            v-for="(item,i) in participants"
            :key="i"
            class="d-flex child-flex"
            cols="3"
          >
            <v-card flat tile class="d-flex" style="background-color:yellow">
              <v-img
                :src="item.src"
                :lazy-src="item.src"
                aspect-ratio="1"
                style="border-radius: 50%;"
                class="grey lighten-2"
                @click="dialogParticipant = true; selected = i;"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialogParticipant"
      max-width="500"
    >
      <v-carousel hide-delimiters v-model="selected">
        <v-carousel-item
            v-for="(item,i) in participants"
            :key="i"
            :src="item.src"
            reverse-transition="fade-transition"
            transition="fade-transition"
        ></v-carousel-item>
      </v-carousel>
    </v-dialog>
    
    <br/>
    <v-divider
        class="mx-4"
        horizontal
        >
    </v-divider>
    <br/>
    
    <v-row
      class="fill-height"
      align="center"
      justify="center"
    >
      <div class="display-1">Nossos vendedores</div>
    </v-row>
    
    <v-row 
      align="center"
      justify="center">
      <v-col
        v-for="(item,i) in vendors"
        :key="i"
        class="d-flex child-flex"
        cols="5"
      >
        <v-img :src="item.src" style="border-radius: 60%;"></v-img>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dialog : false,
        dialogVendors: false,
        dialogParticipant: false,
        //selected : 0,
        imgRugby:require('@/assets/rugby.jpg'),
        vendors: [
          {
            src: require('@/assets/vendors/vend1.jpg'),
          },
          {
            src: require('@/assets/vendors/vend2.jpg'),
          },
          {
            src: require('@/assets/vendors/vend3.jpg'),
          },
          {
            src: require('@/assets/vendors/vend4.jpg'),
          },
          {
            src: require('@/assets/vendors/vend5.jpg'),
          }
        ],

        participants: [
          {
            src: require('@/assets/participants/part1.jpg'),
          },
          {
            src: require('@/assets/participants/part2.jpg'),
          },
          {
            src: require('@/assets/participants/part3.jpg'),
          },
          {
            src: require('@/assets/participants/part4.jpg'),
          },
          {
            src: require('@/assets/participants/part5.jpg'),
          },
          {
            src: require('@/assets/participants/part6.jpg'),
          },
          {
            src: require('@/assets/participants/part7.jpg'),
          },
          {
            src: require('@/assets/participants/part8.jpg'),
          },
          {
            src: require('@/assets/participants/part9.jpg'),
          },
          {
            src: require('@/assets/participants/part10.jpg'),
          },
          {
            src: require('@/assets/participants/part11.jpg'),
          },
          {
            src: require('@/assets/participants/part12.jpg'),
          },
          {
            src: require('@/assets/participants/part13.jpg'),
          },
          {
            src: require('@/assets/participants/part14.jpg'),
          },
          {
            src: require('@/assets/participants/part15.jpg'),
          },
          {
            src: require('@/assets/participants/part16.jpg'),
          },
          {
            src: require('@/assets/participants/part17.jpg'),
          }
        ],
      }
    },
    methods :{
    
      
    }
  }
</script>