<template>
  <v-container>
      <v-row>
        <v-col 
          align="center"
          justify="center">
            <div class="display-1">
                Empanadas Dos Hermanos
            </div>
        </v-col>
      </v-row>

      <v-row class="fill-height"> 
        <v-col class="col-4" align="center" justify="center">
          <v-btn target="blanck" elevation="0" href="http://instagram.com/" style="background-color:transparent">
            <v-avatar size="40" style="border-radius: 50%;">
              <img color="white" style="background-color: #f00075;" src="https://img.icons8.com/material/24/000000/instagram-new--v1.png"/>
            </v-avatar>
          </v-btn>
        </v-col>
        
       <v-col class="col-4" align="center" justify="center">
          <v-btn target="blanck" elevation="0" href="http://instagram.com/" style="background-color:transparent">
            <v-avatar size="40" style="border-radius: 50%;">
              <img color="white" style="background-color: #f00075;" src="https://img.icons8.com/material/24/000000/instagram-new--v1.png"/>
            </v-avatar>
          </v-btn>
        </v-col>

        <v-col class="col-4" align="center" justify="center">
          <v-btn target="blanck" elevation="0" href="http://instagram.com/" style="background-color:transparent">
            <v-avatar size="40" style="border-radius: 50%;">
              <img color="white" style="background-color: #f00075;" src="https://img.icons8.com/material/24/000000/instagram-new--v1.png"/>
            </v-avatar>
          </v-btn>
        </v-col>
      </v-row>
      <v-parallax
        dark
        src="../assets/fondo/fondo1.jpg"
         height="900"
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center" cols="12">
            <p class="display-1 font-weight-light mb-3">
              <strong>
               Desfrute da nossa experiência gastronômica
              </strong>
            </p>
          </v-col>
        </v-row>
      </v-parallax>
      <v-card
        class="mx-auto my-12"
        elevation="0"
        style="background-color:yellow"
      >
        <v-card-title class="justify-center title">
            Bem vindo ao Empanadas Dos Hermanos
        </v-card-title>

        <v-card-text>
          <div>De Mendoza 🇦🇷 para o Rio 🇧🇷</div>
          <div>As melhores empanadas argentinas da cidade, você só encontra com a gente!</div>
          <div>Con amor de la abuela para o Brasil</div>
        </v-card-text>

      </v-card>

      <v-parallax
        dark
        src="../assets/fondo/fondo2.jpg"
        height="900"
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center" cols="12">
            <p class="display-1 font-weight-thin mb-4">
              <strong>
              Explore o nosso menu
              </strong>
            </p>
          </v-col>
        </v-row>
      </v-parallax>
      <v-card
        class="mx-auto my-12"
        elevation="0"
        style="background-color:yellow"
      >
      <v-card-text>
          Sempre de forma caseira, oferecemos aos nossos clientes um produto de
          autêntica qualidade. Nossos recheios, feitos por cozinheiros experientes,
          e nossa massa, leve e caseira feita com as melhores farinhas, dão uma
          qualidade única e um sabor especial às nossas empanadas.
        </v-card-text>

      </v-card>

      <v-parallax
        dark
        src="../assets/fondo/fondo3.jpg"
        height="900"
      >
        <v-row
              align="center"
              justify="center"
            >
              <v-col class="text-center" cols="12">
                <h1 class="display-1 font-weight-thin mb-4">
                  <strong>
                  Combos e promoções
                  </strong>
                </h1>
              </v-col>
            </v-row>
    </v-parallax>
    <v-card
        class="mx-auto my-12"
        elevation="0"
      >
      <v-img
            src="../assets/fondo/fondo4.jpg"
            gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
          >
          <v-row 
              align="center"
              justify="center"
              class="lightbox white--text pa-2 fill-height">
            <v-col cols="12">
              <div class="subheading text-center"> 
                <strong>
                As nossas empanadas são feitas de um jeito único que as deixa iguais as empanadas da vovó.
                </strong>
              </div>
              
              <br/>
              <div class="body-1 text-left">
                A empresa Dos Hermanos foi criada por dois argentinos na sua chegada ao Rio de Janeiro, e hoje está composta de um grupo de trabalho em crescimento e com muito potencial, oferecendo uns dos melhores produtos gastronômicos da região. Nossas empanadas são feitas de forma caseira, mantendo a receita original e clássica das empanadas Argentinas.
                Ajudados com os conselhos das nossas avós e focados no bom gosto dos brasileiros, apresentamos a vocês nossas receitas para deliciar os diversos paladares.
              </div>             
            </v-col>
          </v-row>
        
      </v-img>
    </v-card>

  </v-container>
</template>

<script>


export default {
  
}
</script>