<template>
  <v-app class="fondoApp">
    <v-app-bar
      color="black"
      dark
    >
    <v-row class="">
      <v-col>
        <v-avatar>
          <v-btn color="black" :to="{name:'Home'}">
            <v-img
              alt="Empanadas Dos Hermanos"
              contain
              color="black"
              src="./assets/logo.png"
              width="100"
            />
          </v-btn>   
        </v-avatar>
      </v-col>
      <v-col>
        <p class="font-weight-ligth">Empanadas Dos Hermanos</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="black" :to="{name:'Home'}">Inicio</v-btn>
      </v-col>
      <v-col>
        <v-btn color="black" :to="{name:'Cardapio'}">Cardapio</v-btn>
      </v-col>
      <v-col>
        <v-btn color="black" :to="{name:'Social'}">Projeto Social</v-btn>
      </v-col>
      <v-col>
        <v-btn color="black" :to="{name:'Contacto'}">Contato</v-btn>
      </v-col>
    </v-row>
    
  </v-app-bar>

    <v-content>
      <router-view></router-view>      
    </v-content>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
import Home from './views/Home';

export default {
  name: 'App',

  components: {
    Home,
  },

  data: () => ({
    //  background-color:yellow
  }),
};
</script>
<style>
.fondoApp{
  max-width: 1200px;
  height: 100%;
  display: inline-block;
  background-color: rgb(212, 212, 105);
  transform: scale(1.0);
  /*
  background-image: url("./assets/empanada.jpg");
  background-repeat: no-repeat;
  background-size:cover
  */
  
}

</style>